.bodyDetail{
    text-align: left;

    padding: 56px;
    background-image: url('../pictures/34e64e38598486fed6e93e0bf64e9de7.jpg');
    background-size:auto;
    background-position:inherit;
    height: 100vh;
 
 
}