.homeBody{
    background-color: rgba(80, 1, 70, 0.428);
    text-align: center;

        background-image: url("../pictures/eac5c881b03d2967f38df0d0bf735997.jpg");
        background-size:contain;
        background-position:inherit;
        height: 100vh;
        text-align:center;
        color: aliceblue;
        padding: 50px;
      

}