
.bodyForm{
  
        background-image: url("../pictures/337ae796b92c3ff3f934ef0324de0cac.jpg");
        background-size:auto;
        background-position:inherit;
        height: 100vh;
        padding: 5px;
}
.bodyForm form{
        margin: 0 auto;
        width: 300px;
        background-color: rgba(240, 248, 255, 0.571);
        padding: 1em 1em;
        border-radius: 3px;
        border: 0ch;
        text-align: center;
        font-size: 80%;
     
}
.bodyForm h4{
        margin: 0 auto;
        width: 300px;  
        text-align: center;
        background-color: rgb(108, 9, 128);
        color: aliceblue;
}
.bodyForm input{
        border: solid 1px;
        border-color: blueviolet;
}
.bodyForm span{
        color: red;
}
.bodyForm p {
        text-align: center;
        color: rgb(1, 5, 1);
        background-color: rgba(54, 52, 217, 0.909);
}